<div class="container">
    <div class="row">
        <div class="wrappPersonBlock clearfix">
            <div class="col-lg-4">
                <div class="cardPersonImg">
                    <img src="<%= user.local.fio %>" alt="">
                </div>
            </div>
            <div class="col-lg-4 personButtonsAvatars">
                
                <form ref='uploadForm' id='uploadForm' action='http://localhost:3000/upload'  method='post'  encType="multipart/form-data">
                <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>     
            </div>
            <div class="col-lg-4 personInfo">
                <form id="formProfile" method="POST">
                    <div class="node-server-profile">
                        <h3 class="personName">Имя</h3>
                        <input type="text" value="<%= user.local.fio %>"  class="inputRead" name="fio">
                        <h3 class="personName profile-fio"><%= user.local.fio %></h3>
                    </div>
                    <div class="node-server-profile">
                        <h3 class="personName">Фамилия</h3>
                        <input type="text" value="<%= user.local.nick %>"  class="inputRead" name="nick">
                        <h3 class="personName profile-nick"><%= user.local.nick %></h3>
                    </div>
                    
                    <div class="node-server-profile">
                        <h3 class="personName">E-mail</h3>
                        <input type="email" name="email" value="<%= user.local.email %>" class="inputRead">
                        <h3 class="personName profile-email"><%= user.local.email %></h3>
                    </div>
                    <div class="node-server-profile">
                        <h3 class="personName">Телефон</h3>
                        <input type="text" value="<%= user.local.tel %>"  class="inputRead" name="tel" >
                        <h3 class="personNam profile-tel"><%= user.local.tel %></h3>
                    </div>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn-style profile-button read-profile-button">Редактировать</button>
                    <input type="submit" class="btn-style profile-button post-read-profile">
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>