<body class="profile">
	<section class="main-profile">
		<div class="profile-user-avatar">
			<img src=<%=avatar%>>
		</div>
		<div class="profile-user-statistic">
			<dir class="profile-user-statistic-login">Login: <span><%=login%></span></dir>
			<dir class="profile-user-statistic-bank">Bank: <span><%=bank%></span></dir>
		</div>
		<div class="profile-user-container">
			<div class="profile-user-container-tabs">
				<ul>
					<li class="active" data-tab="stat">User<wbr>statistics</li>
					<li data-tab="pass">Change<wbr>password</li>
					<li data-tab="secret">Change<wbr>secret</li>
					<li data-tab="email">Change<wbr>email</li>
					<li data-tab="avatar">Change<wbr>avatar</li>
					<li data-tab="remove">Remove<wbr>account</li>
				</ul>
			</div>
			<div class="profile-user-container-tab stat active">
				<dir class="profile-user-container-statistic">Registered: <span><%=regDate%></span></dir>
				<dir class="profile-user-container-statistic">Games played: <span><%=played%></span></dir>
				<dir class="profile-user-container-statistic">Rounds win: <span><%=win%></span></dir>
				<dir class="profile-user-container-statistic">Rounds draw: <span><%=draw%></span></dir>
				<dir class="profile-user-container-statistic">Rounds loose: <span><%=loose%></span></dir>
				<dir class="profile-user-container-statistic">Wins: <span><%=percWin%></span>%</dir>
				<dir class="profile-user-container-statistic">Max win: <span><%=maxWin%></span></dir>
				<dir class="profile-user-container-statistic">Max lost: <span><%=maxLost%></span></dir>
			</div>
			<div class="profile-user-container-tab pass">
				<form id="change-passwd">
					<span>Secret word</span><br>
					<input type="text" name="secretWord" placeholder="secret word"></br>
					<span>New Password</span><br>	
					<input type="password" name="Password" placeholder="new password"></br>
					<span>Confirm Password</span><br>	
					<input type="password" name="confirmPassword" placeholder="confirm password"></br>
					<input type="submit" class="form-button" name="Submit" value="Change Password">
				</form>
			</div>
			<div class="profile-user-container-tab secret">
				<form id="change-secret">
					<span>Password</span><br>	
					<input type="password" name="Password" placeholder="password"></br>
					<span>New secret word</span><br>	
					<input type="text" name="secretWord" placeholder="new secret word"></br>
					<input type="submit" class="form-button" name="Submit" value="Change Secret Word">
				</form>
			</div>
			<div class="profile-user-container-tab email">
				<form id="change-email">
					<span>Password</span><br>	
					<input type="password" name="Password" placeholder="password"></br>
					<span>New E-mail</span><br>	
					<input type="text" name="email" placeholder="new email"></br>
					<input type="submit" class="form-button" name="Submit" value="Change E-mail">
				</form>
			</div>
			<div class="profile-user-container-tab avatar">
				<form enctype="multipart/form-data" action="/avatarUpload" id="upload-avatar" method="POST"> 
					<input type="file" name="avatar"><br> 
					<input type="submit" name="send"> 
				</form>
			</div>
			<div class="profile-user-container-tab remove">
				<form id="remove-account">
					<span>Password</span><br>	
					<input type="password" name="Password" placeholder="password"></br>
					<span>Secret word</span><br>
					<input type="text" name="secretWord" placeholder="secret word"></br>
					<input type="submit" class="form-button" name="Submit" value="Remove account">
				</form>
			</div>
		</div>
	</section>
</body>