<article class="game-table">
	<a href="/BlackJackGame?table=<%=tableNum%>">
		<div class="game-table-status">
			<span class="game-table-status-name">Table: <span id="tableNum"><%=tableNum%></span></span>
			<span class="game-table-status-players">Players: <%=players%>/5</span>
			<span class="game-table-status-bets">Bets: min <%=minBet%> max <%=maxBet%></span>
		</div>
		<div class="game-table-pic"></div>
	</a>
</article>